/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 10. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

header {
  width: 100%;
  height: fit-content;
  padding: 2rem 20%;
  background-color: darkolivegreen;
}

#logo-container a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

img.logo {
  width: 4rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 20%;
  background-color: rgb(251, 255, 245);
}

.entry {
  width: 100%;
  height: 200px;
}

.entry .left {
  float: left;
  width: 25%;
  height: 100%;
}

.entry .left img {
  height: 100%;
  object-fit: cover;
}

.entry .right {
  float: right;
  width: 75%;
  height: 100%;
  padding: 1rem 0rem 1rem 1rem;
}

.entry .address {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.entry img.icon {
  width: 1rem;
  height: 1rem;
}

.entry .date {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.entry footer {
  width: 100%;
  height: fit-content;
  padding: 2rem 20%;
  text-align: center;
  color: white;
  background-color: rgb(32, 39, 32);
}
